


.dropdown-open-collapse #icon {
    transition: transform 0.3s ease;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
  }


.dropdown-open-collapse #icon:hover {
    color: blue;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-content-collapse{
    margin-top: 10px;
}

.dropdown-open-collapse{
    width: fit-content;
    margin: auto;
}




.title-collapse {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-collapse h2 {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
}
  




.zone-projets {
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

.zone-projets:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.zone-image-nina{
    width: 45%;
}

.zone-projets a {
    color: black;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.img-site-nina{
    width: 100%;
}

.projet-nina{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.collapse-competence{
    width: 50%;
    margin-top: 25px;
}

.p-collapse-compétences{
    padding: 20px;
    line-height: 30px;
}

.collapse-competence h4 {
    font-size: 16px;
}

.collapse-competence a {
    font-size: 15px;

}





@media screen and (max-width:700px ) {

    .projet-nina{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .zone-image-nina{
        width: 80%;
        margin: auto;
    }

    .collapse-competence{
        width: 80%;
        margin: auto;
    }

    .p-collapse-compétences{
        padding: 0;
    }

    .zone-projets{
        display: flex;
        flex-direction: column;
    }

}