.container-main-contact{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly ;
    padding-bottom: 25px;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
}




.H4-contact{
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.form-nom-prenom{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}


.form-group input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0.625rem 0.625rem;
border: none;
border-radius: 10px;
box-shadow: 0 5px 7px 0 rgba(189, 189, 192, 0.233), -3px -3px 2px 0 rgba(207, 207, 207, 0.075)
}

.form-group textarea {
    padding: 0.625rem 0.625rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 7px 0 rgba(189, 189, 192, 0.233), -3px -3px 2px 0 rgba(207, 207, 207, 0.075)
}

.formulaire button {
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    background-color: rgba(49, 49, 49, 0.2);
    border: none;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 16px;
    margin-top: 10px;
}

.formulaire button:hover {
    background-color: rgba(49, 49, 49, 0.3);
}

.img-formulaire{
    display: flex;
    align-items: center;
}


.boite-formulaire{
    margin: auto;
    width: 50%;
}

.message-envoie-mail{
    background-color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.message-envoie-mail p {
    padding: 10px;
    border-radius: 50px;
    background-color: greenyellow;
}

.icon-message:hover{
    color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    cursor: pointer;
}

.email-fail{
    color: red;
    width: fit-content;
    border-radius: 25px;
    font-size: 14px;
    margin-top: 5px;
}

@media screen and (max-width: 550px) {
    .container-main-contact{
        display: flex;
        flex-direction: column;
    }

    .img-formulaire{
        width: 60%;
        margin: auto;
        padding-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }


.form-nom-prenom{
    display: flex;
    flex-direction: column;
    gap: 0;
}
}