*{
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}


.back-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  background-image: url('./assets/img/imgBack.jpg'); 
  background-size: cover;
  background-repeat: repeat; 
}
